h1{
    text-align: center;
    font-size: 70px;
    color: brown;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

p{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: brown;
    font-weight: bold;
    margin-bottom: auto;
}
table,th,td{
    border-collapse: collapse;
}
table{
    margin: auto;
    width: 80%;
}
th,td{
    font-family: Arial, Helvetica, sans-serif;
}
